/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

body {
	background-color: #434455;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	letter-spacing: 2%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	color: #2E2F42;
	margin: 0;
	padding: 0;
}