/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

/* .raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body {
	background-color: #434455;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #434455;
	font-weight: regular;
	letter-spacing: 2%;
}	

.button {
	font-family: 'Roboto', sans-serif;
	font-weight: medium;	
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 4%;
	border-radius: 4px;
	background-color: #4D5AE5;
}

a {
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-weight: regular;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 4%;
	text-decoration: none;
}

a:hover,
a:focus,
a:active,
a.link {
	color: #4D5AE5;
}

a:active {
	color: #404BBF;
}

nav a {
	padding-bottom: 5px;
}

nav a:active {
	color: #404BBF;
	border-bottom: 4px solid #404BBF;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	color: #2E2F42;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 56px;
	font-weight: bold;
	line-height: 60px;
	letter-spacing: 2%;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 2%;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: medium;
	letter-spacing: 2%;
}

button {
	border-radius: 4px;
	border: none;
	cursor: pointer;
	padding: 16px 32px;
	background-color: #4D5AE5;
	color: #ffffff;
}

button:hover {
	background-color: #404BBF;
}

.page-wrapper {
  
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: left;
	padding: 20px 0;
	justify-content: flex-start;
    gap: 70px;
}

.logo {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 21px;
	color: #2E2F42;
	text-transform: uppercase;
}

.logo-web {
  color: #4D5AE5;
}

.page-nav .nav-list {
	display: flex;
	gap: 40px;
}

.page-nav .nav-list a {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: medium;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 2%;
	color:#2E2F42;
}

address {
	margin-left: auto;
	font-style: normal;
}

address ul {
	display: flex;
    gap: 42px;
}

.main-header {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 56px;
	font-weight: 600;
	text-align:center;
	margin-bottom: 58px;
	border: 1px solid #000000;
}

.main-banner-hero {
	background-color: #2E2F42;
	padding-top: 195px;
	padding-bottom: 188px;
}

.button-section {
	display: flex;
  	justify-content: center;
}


